---
import Layout from '../layouts/Layout.astro'
import YogaCard from '../components/YogaCard.astro';
---

<Layout title="dailyoga">
  <main class="yoga">
    <YogaCard />
  </main>
</Layout>

<style></style>
